.App {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  justify-content: center;
}

.appHeader {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.valid, .invalid, .validBtn, .invalidBtn {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 75px;
  border-radius: 5px;
  border: 1px solid black;
  
}

.validBtn {
  background-color:rgb(116, 248, 116);
  box-shadow: 0 12px 16px 0 rgba(143, 253, 143), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.valid, .validBtn {
  background-color: rgb(116, 248, 116);
}

.invalid, .invalidBtn {
  background-color: rgb(252, 109, 109);
}

.resultIn, .resultOut {
  border: 1px solid black;
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.results {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grey, .green, .red, .blue {
  width: 30px;
  height: 30px;
  margin: 0px 0px 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.grey {
  background-color: rgb(201, 200, 200);
}

.blue {
  background-color: rgb(144, 144, 255);
}

.green {
  background-color: rgb(116, 248, 116);
}

.red {
  background-color: rgb(252, 109, 109);
}